.Contenedor-Login{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }

.Login {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    width: 25%;
    background-color: #fff;

}
  
.Login h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}
