.ContenedorPassword {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-bottom: 15px;
	width: 100%;
}

.TituloCampo {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

.EntradaPassword {
	padding: 10px;
	padding-right: 40px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.BotonOjo {
	position: absolute;	
	right: 10px;
	top: 57%;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 18px;
}

.Icono {
    width: 20px;
    height: 20px;
}


